footer {
  display: grid;
  align-items: center;
  justify-content: end;
  margin: var(--padding-section);
  background-color: var(--primary-gray);
}

.social-media-links {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
}

.social-logo {
  font-size: 1.8rem;
  margin: 0 5px;
}

@media screen and (max-width: 680px) {
  footer {
    padding: var(--padding-sm-screen);
  }
}
