.hightlight {
  padding: var(--padding-sm-screen);
}
.hightlight header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.hightlight h1,
h3 {
  font-family: "Karla";
  font-size: 18pt;
  font-weight: bold;
}

.hightlight p {
  font-family: "Karla";
  font-size: 16pt;
}

.hightlight button {
  background-color: var(--primary-yellow);
  border-color: transparent;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  font-family: "Karla";
  font-size: 16pt;
  font-weight: bold;
}

.hightlight article {
  background-color: var(--light-gray);
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}
.hightlight article img {
  width: 100%;
  height: 30%;
  object-fit: cover;
}

.hightlight article button {
  background-color: transparent;

  border: 0;
  padding: 10px;
}

.hightlight article div {
  margin: 20px;
}

@media screen and (min-width: 960px) {
  .hightlight {
    padding: var(--padding-md-screen);
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .hightlight > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }
  .hightlight article img {
    height: 45%;
  }
}

@media screen and (min-width: 1600px) {
  .hightlight {
    padding: var(--padding-lg-screen);
  }
}
