.navigation-bar {
  padding: var(--padding-sm-screen);
  margin: 1rem 0;
}

.navigation-bar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-bar img:first-child {
  height: 3rem;
}

.navigation-bar img:last-child {
  height: 2rem;
}

.navigation-bar nav {
  transition: var(--transition-all);
}

.navigation-bar li {
  text-align: center;
  height: 2rem;
}

.navlink {
  font-size: 20pt;
  font-family: "Karla";
  text-transform: capitalize;
}

.display-nav {
  display: block;
}
.hide-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-bar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: var(--padding-section);
  }
  .navigation-bar img:last-child {
    display: none;
  }
  .navigation-bar nav {
    display: block;
  }
  .navigation-bar ul {
    display: flex;
  }
  .navigation-bar li {
    margin: auto;
  }
}
