.navigation-bar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin: 1rem 0;
  padding: var(--padding-section);
}
.navigation-bar img {
  height: 3rem;
}

.navigation-bar img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}

.navigation-bar ul {
  display: flex;
  justify-content: center;
}
.navigation-bar li {
  margin: auto;
  font-family: "Markazi Text";
  font-size: 18pt;
  font-weight: bold;
  text-transform: capitalize;
}

.navigation-bar li:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
