.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    ". . . .";
  padding: var(--padding-section);
}
.testimonials article {
  height: 50vh;
}
