.navigation-bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  width: 90vw;
  margin: auto;
}
.navigation-bar ul {
  display: flex;
  justify-content: center;
  margin: auto;
}
.navigation-bar ul li {
  margin: auto;
}
section {
  padding: 0 5vw;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-gray);
  color: white;

  height: 15rem;
  margin-bottom: 8rem;
}

.hero h1 {
  color: var(--primary-yellow);
  font-size: 64px;
  font-family: "Markazi Text";
}

.hero img {
  width: 20rem;
  height: 20rem;
}

.hero button {
  background-color: var(--primary-yellow);
  border-radius: 50px;
  padding: 5px 10px;
}
.hightlight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 50px;
  grid-template-areas:
    "header header header"
    ". . . ";
}
.hightlight header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.hightlight button {
  background-color: var(--primary-yellow);
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
}

.hightlight article {
  background-color: var(--light-gray);
}
.hightlight article img {
  width: 100%;
  height: 30%;
  object-fit: cover;
}

.hightlight article button {
  background-color: transparent;
  border: 0;
  padding: 10px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    ". . . .";
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
