* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-gray: #495e57;
  --primary-yellow: #f4ce14;
  --peach: #ee9972;
  --light-peach: #fbdabb;
  --light-gray: #edefee;
  --dark-gray: #333333;
}
